<div class="row">
  <div class="col-sm-12">
    <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
      <label class="btn btn-outline-secondary">
        <input type="radio" name="period" value="7d" autocomplete="off"> Letzte 7 Tage
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="period" value="6m" autocomplete="off"> Letzte 6 Monate
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="period" value="12m" autocomplete="off"> Letzte 12 Monate
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="period" value="m" autocomplete="off"> Dieser Monat
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="period" value="y" autocomplete="off"> Dieses Jahr
      </label>
    </div>
  </div>
</div>
