<nav>
  <div class="nav nav-tabs mt-3 mb-2"
       id="nav-tab"
       role="tablist">
    <a class="nav-item nav-link @@overview"
       href="./index.html"
       role="tab"
       aria-selected="true">Übersicht</a>
    <a class="nav-item nav-link @@ratings"
       href="./ratings.html"
       role="tab"
       aria-selected="true">Bewertungen</a>
    <a class="nav-item nav-link @@logins"
       href="./logins.html"
       role="tab"
       aria-selected="true">Logins</a>
    <a class="nav-item nav-link @@archive"
       href="./archive.html"
       role="tab"
       aria-selected="true">Archiv</a>
    <a class="nav-item nav-link @@locations"
       href="./locations.html"
       role="tab"
       aria-selected="true">Standorte vergleichen</a>
  </div>
</nav>